<a href="https://colab.research.google.com/github/glebmikha/sql-course/blob/main/sqlite3_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Это апгрейд sqlite3 чтобы были оконные функции.

https://stackoverflow.com/a/59429952/4527289

В следующей ячейке в конце стоит команда os.kill -- она убьет текущий рантайм. Это нужно для того, чтобы заработала обновленная версия sqlite3. Когда ты запустишь эту ячейку colab выдаст сообщение об ошибке -- так и должно быть. Просто запускай следующую ячейку.

In [ ]:
!gdown 1CDqqyKV9BvrvnuR1l8HVz0aYuM4yOTUr
!mv _sqlite3.cpython-38-x86_64-linux-gnu.so /usr/lib/python3.8/lib-dynload/
import os
os.kill(os.getpid(), 9)

Downloading...
From: https://drive.google.com/uc?id=1CDqqyKV9BvrvnuR1l8HVz0aYuM4yOTUr
To: /content/_sqlite3.cpython-38-x86_64-linux-gnu.so
100% 6.59M/6.59M [00:00<00:00, 50.5MB/s]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import sqlite3

In [ ]:
sqlite3.sqlite_version

'3.40.0'

In [ ]:
con = sqlite3.connect('db')

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

In [ ]:
sql = '''Create table If Not Exists Employee (Id int, Salary int)
insert into Employee (Id, Salary) values ('1', '100')
insert into Employee (Id, Salary) values ('2', '200')
insert into Employee (Id, Salary) values ('3', '300')'''

In [ ]:
sql = ';\n'.join(sql.split('\n'))

In [ ]:
print(sql)

Create table If Not Exists Employee (Id int, Salary int);
insert into Employee (Id, Salary) values ('1', '100');
insert into Employee (Id, Salary) values ('2', '200');
insert into Employee (Id, Salary) values ('3', '300')

In [ ]:
con.executescript(sql)

In [ ]:
sql = '''select * from Employee t'''

In [ ]:
select(sql)

   Id  Salary
0   1     100
1   2     200
2   3     300